plugins = []
headers = []
redirects = []

[dev]
command = "npm run dev"
port = 5173

[functions]

  [functions."*"]

[build]
publish = "dist"
publishOrigin = "config"
commandOrigin = "config"
command = "npm run build"

  [build.environment]

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]